In [154]:

##Recommend commercial instead of private

In [155]:
import pandas as pd
df = pd.read_csv("data/Aviation_Data.csv", delimiter=",")

C:\Users\42ben\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [157]:
# Coerce date into pandas date time object

df["Event.Date"] = pd.to_datetime(df['Event.Date'], format='%Y-%m-%d', errors = 'coerce')

In [158]:
df_clean = df.dropna(subset=['Event.Id'])

In [159]:
# After dropping rows where Event.Id null,
# We now have a dataset where first 4 columns have no nulls
# We think this makes sense because without an id or accident number, the event wasn't properly documented
df_clean.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          15230
dtype: int64

In [160]:
##Create a dataframe that only contains data from the last 30 years
df_30 = df_clean[df_clean['Event.Date'] >= '1993-01-01']

In [161]:
##Sanity check, make sure we are only dealing with data from the last 30 years
print(df_30['Event.Date'].min())
print(df_30['Event.Date'].max())

1993-01-01 00:00:00
2022-12-29 00:00:00

In [162]:
##create a new column that calculates the total number of injuries. 
##They have them split into 3 categories (fatal, minor, and serious) without a total.
df['Total.Injuries'] = df['Total.Fatal.Injuries'] + df['Total.Minor.Injuries'] + df['Total.Serious.Injuries']

In [163]:
##Outside data to grab for certain models: Cost and Capacity, can divide total injured by capacity to find injury rate

In [164]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88889 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.7+ MB

In [165]:
##checking for duplicates by Event.Id
df_clean['Event.Id'].nunique()

87951

In [166]:
##Dropping the duplicates
df_clean1 = df_clean.drop_duplicates(subset=['Event.Id'])

In [167]:
##Cleaning the Make column: all lowercase
df_clean1['Make'] = df_clean1['Make'].str.lower()

<ipython-input-167-f435589ba447>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean1['Make'] = df_clean1['Make'].str.lower()

In [168]:
##Capitalize each word
df_clean1['Make'] = df_clean1['Make'].str.title()

<ipython-input-168-9309ec45cd0c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean1['Make'] = df_clean1['Make'].str.title()

In [169]:
##Get rid of whitespace
df_clean1['Make'] = df_clean1['Make'].str.strip()

<ipython-input-169-29db5f22d264>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean1['Make'] = df_clean1['Make'].str.strip()

In [170]:
##clean model column starting by making everything uppercase
df_clean1['Model'] = df_clean1['Model'].str.upper()

<ipython-input-170-38a9686ac8ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean1['Model'] = df_clean1['Model'].str.upper()

In [171]:
##get rid of whitespace
df_clean1['Model'] = df_clean1['Model'].str.strip()

<ipython-input-171-a78600e353ec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean1['Model'] = df_clean1['Model'].str.strip()

In [172]:
df_clean1['Model'].nunique()

11563

In [173]:
df_clean1['Make'].nunique()

7552

In [174]:
df_clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87951 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                87951 non-null  object
 1   Investigation.Type      87951 non-null  object
 2   Accident.Number         87951 non-null  object
 3   Event.Date              87951 non-null  datetime64[ns]
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Latitude                34212 non-null  object
 7   Longitude               34203 non-null  object
 8   Airport.Code            49601 non-null  object
 9   Airport.Name            52117 non-null  object
 10  Injury.Severity         86961 non-null  object
 11  Aircraft.damage         84848 non-null  object
 12  Aircraft.Category       32181 non-null  object
 13  Registration.Number     86666 non-null  object
 14  Make                    87888 non-null  object
 15  Model                   87859 non-null  object
 16  Amateur.Built           87851 non-null  object
 17  Number.of.Engines       81924 non-null  float64
 18  Engine.Type             80927 non-null  object
 19  FAR.Description         31915 non-null  object
 20  Schedule                12360 non-null  object
 21  Purpose.of.flight       81829 non-null  object
 22  Air.carrier             16533 non-null  object
 23  Total.Fatal.Injuries    76684 non-null  float64
 24  Total.Serious.Injuries  75629 non-null  float64
 25  Total.Minor.Injuries    76191 non-null  float64
 26  Total.Uninjured         82088 non-null  float64
 27  Weather.Condition       83478 non-null  object
 28  Broad.phase.of.flight   60837 non-null  object
 29  Report.Status           81590 non-null  object
 30  Publication.Date        72894 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 21.5+ MB

In [175]:
df_clean1['Aircraft.Category'].isna().sum()

55770

In [176]:
df_clean1['Aircraft.Category'].fillna('n/a', inplace=True)

C:\Users\42ben\anaconda3\envs\learn-env\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [177]:
df_clean2 = df_clean1.loc[(df_clean1['Aircraft.Category'] == 'Airplane') | (df_clean1['Aircraft.Category'] == 'n/a')]

In [178]:
##Sanity check
df_clean2['Aircraft.Category'].value_counts()

n/a         55770
Airplane    27520
Name: Aircraft.Category, dtype: int64